.profile {
    // &-main {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }
    &-cour {
        position: absolute;
        box-shadow: 5px 10px 18px rgba(160, 121, 0, 0.2);
        background-color:white;
        height: 366px;
        width: 303px;
        border-radius: 10px;
        margin-left: -247px;
        padding: 25px ;
        margin-top: 25px;
    }
    &-top {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }   
    &-text {
        font-family: $fonts;
        font-size: 14px;
        color: $text-color;
        font-weight: 550;
        margin-top: 15px;
        line-height: 20px;
    }
    &-boder {
        width: 252px;
        padding: 5px;
    }
    &-list {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: 15px ;
        margin: 10px 0 8px ;
        font-family: $primary-font;
        span {
            font-family: $fonts;
            font-weight: 1000;
            font-size: 12px;
            line-height: 20px;
        }
        a {
            font-size: 12px;
            line-height: 20px;
            color: $text-color;
        }
        p {
            font-size: 12px;
            line-height: 20px;
        }
    }
    @media screen and (max-width: 1023px) {
        display: none;
        &-cour {
        margin-left: -113px;
        }
    }
    @media screen and (max-width: 1366px) and (min-width: 1024px) {
            font-size: 12px;
            &-cour {
                width: 290px;
                width: inherit;
                margin-left: -242px;
                margin-top: 15px;
            }
        }
        @media screen and (max-width: 736px) {
        &-cour {
            margin-left: -73px;
            margin-top: 2px;
            padding: 25px;
            width: 275px;
        }
        }
        @media screen and (max-width: 320px) {
            &-cour {
            margin-left: 11px;
            }
        }
}